---
http_interactions:
- request:
    method: get
    uri: http://www.copyscape.com/api/?f=xml&k=COPYSCAPE_API_KEY&o=balance&u=COPYSCAPE_USERNAME
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<remaining>\n\t<value>99.00</value>\n\t<total>1980</total>\n\t<today>398</today>\n</remaining>\n"
  recorded_at: Tue, 10 Sep 2013 16:29:15 GMT
recorded_with: VCR 2.5.0
