---
http_interactions:
- request:
    method: post
    uri: http://www.copyscape.com/api/
    body:
      encoding: UTF-8
      string: u=USERNAME&k=API_KEY&f=xml&e=UTF-8&t=Nonclosely%20decani%20unspaced%20guardlike%20unporcelainized%20prewire%20russki%20achaian%0A%20%20%20%20%20%20mecisteus%20nontemporariness%20tumuli%20creepfed%20subsimian%20hoopoe%20muddler%20wels%20contraste&o=csearch&c=0
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<response>\n\t<querywords>17</querywords>\n\t<count>0</count>\n\t<allviewurl>http://view.copyscape.com/search/q0ish5kygr</allviewurl>\n</response>\n"
  recorded_at: Thu, 12 Sep 2013 20:46:33 GMT
recorded_with: VCR 2.5.0
